/* about.css */

/* AboutMe Section */
.aboutMe {
  padding: 80px 0;
  text-align: center;
}

.aboutMe .container {
  margin: 0 auto;
  padding: 0 20px;
}

.aboutMe .content {
  text-align: left;
  margin-top: 30px;
}

.aboutMe h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.aboutMe ul {
  list-style-type: disc;
  padding-left: 20px;
}

.aboutMe p {
  line-height: 1.6;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .aboutMe .container {
    padding: 0 10px;
  }
}

/* Offerings List */
.aboutMe .offerings {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #19d8b833;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.aboutMe .offerings h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}

.aboutMe .offerings ul {
  list-style-type: disc;
  padding-left: 20px;
}

.aboutMe .offerings ul li {
  margin-bottom: 10px;
}

/* Heading Component */
.aboutMe .heading {
  margin-bottom: 40px;
}

/* AboutHome Section */
.aboutHome {
  height: auto;
   
}

.aboutHome .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.aboutHome .left, .aboutHome .right {
  flex: 1;
  min-width: 300px;
  margin: 10px;
}

.aboutHome .left img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

 
.aboutHome .items {
  margin-top: 30px;
}

.aboutHome .item {
  background-color: #fff;
  margin-top: 20px;
  padding: 20px;
  transition: 0.5s;
  display: flex;
  align-items: center;
}

.aboutHome .img {
  width: 70px;
  margin-right: 20px;
}

.aboutHome .item h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.aboutHome .item p {
  color: #999999;
}

.aboutHome .item:hover {
  background-color: #1eb2a6;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
}

.aboutHome .item:hover p {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .aboutHome .container {
    flex-direction: column-reverse;
    padding: 0 10px;
  }
  .aboutHome .left, .aboutHome .right {
    width: 100%;
  }
}

/* Awrapper Section */
.awrapper {
  background-image: url("../../../public/images/awrapper.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.awrapper .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.awrapper .box {
  padding: 20px;
  flex: 1;
  min-width: 300px;
  display: flex;
  align-items: center;
}

.awrapper img {
  margin-right: 20px;
}

.awrapper h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.awrapper h3 {
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .awrapper {
    height: auto;
  }
  .awrapper .container {
    flex-direction: column;
  }
  .awrapper .box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .awrapper img {
    margin-bottom: 10px;
    margin-right: 0;
  }
}


/* animation effect  */
/* Keyframes for fade-in animations */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Initial state for animations */
.item {
  opacity: 0;
  transform: translateX(0);
  transition: opacity 0.5s, transform 1s;
}

.fade-in-left {
  animation: fadeInLeft 1s forwards;
}

.fade-in-right {
  animation: fadeInRight 1s forwards;
}

